---
import BaseHead from "~/components/BaseHead.astro";
import Map from "~/components/Map.astro";
import { localize } from "~/util";

import logo from "~/images/can-logo.svg";
import insta from "~/images/fa-insta.svg";
import email from "~/images/email.svg";

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "fr" } }];
}

const { lang } = Astro.params;

const l = await localize({ entry: "index", lang });
const baseUrl = import.meta.env.BASE_URL ?? "/";
---

<html lang={lang}>
  <head>
    <BaseHead title="COVID Action Now!" description={l("description")} />
  </head>

  <body>
    <div class="bg-gradient-to-b from-[#fec3fe] to-[#c3eaff] px-3 py-3">
      <header class="mx-auto flex max-w-screen-xl items-center font-titles">
        <a class="flex items-center gap-4 text-2xl" href={`${baseUrl}${lang}`}>
          <img src={logo.src} alt="COVID Action Now logo" class="size-12" />
          <div>COVID ACTION <span class="font-bold">NOW!</span></div>
        </a>
        <div class="ml-auto flex items-center gap-4 text-xl">
          <a
            href="https://www.instagram.com/covid_action_now/"
            target="_blank"
            rel="noreferrer"
            class="hidden flex-shrink-0 min-[500px]:block"
          >
            <img src={insta.src} title="Instagram" class="size-5" />
          </a>
          <a href="#about" class="hidden md:block">{l("about")}</a>
          <a href="#map" class="hidden md:block">{l("map")}</a>
          <a href="#contact" class="hidden md:block">{l("contact")}</a>
          {
            lang === "en" ? (
              <a href={`${baseUrl}fr`}>Français</a>
            ) : (
              <a href={`${baseUrl}en`}>English</a>
            )
          }
        </div>
      </header>
      <div
        class="mx-auto max-w-screen-lg text-balance py-12 text-center text-5xl"
        set:html={l("heroText")}
      />
    </div>

    <div id="about" class="bg-green-100 px-3 py-12">
      <div class="mx-auto max-w-screen-sm lg:max-w-screen-md">
        <h1
          class="text-balance font-titles text-3xl font-bold"
          set:html={l("section1title")}
        />
        <div
          class="with-link-underline mt-4 text-lg"
          set:html={l("section1body")}
        />
      </div>
    </div>

    <Map />

    <div class="bg-red-100 px-3 py-12">
      <div class="mx-auto max-w-screen-sm lg:max-w-screen-md">
        <h1
          class="text-balance font-titles text-3xl font-bold"
          set:html={l("section2title")}
        />
        <div
          class="with-link-underline mt-4 text-lg"
          set:html={l("section2body")}
        />
      </div>
    </div>

    <div id="contact" class="bg-stone-100 px-3 py-12">
      <div class="mx-auto max-w-screen-sm lg:max-w-screen-md">
        <div class="flex flex-col items-center gap-2">
          <h1
            class="text-balance font-titles text-3xl font-bold"
            set:html={l("contact-title")}
          />
          <a
            href="https://www.instagram.com/covid_action_now/"
            target="_blank"
            rel="noreferrer"
            class="flex items-center gap-2"
          >
            <img src={insta.src} title="Instagram" class="size-5" />
            <span class="text-xl underline">covid_action_now</span>
          </a>
          <a id="email" href="#" class="flex items-center gap-2">
            <img src={email.src} title={l("email")} class="size-5" />
            <span class="text-xl underline"
              >covidactionnow [at] proton [dot] me</span
            >
          </a>
          <script>
            // prevent spam with one weird trick
            const user = "covidactionnow";
            const domain = "proton.me";
            setTimeout(() => {
              const el = document.querySelector("#email")!;
              el.setAttribute("href", `mailto:${user}@${domain}`);
              el.querySelector("span")!.innerText = `${user}@${domain}`;
            }, 500);
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
